<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeMonitoring.Web</title>

    <link href="~/css/Variables.css" rel="stylesheet" />
    <link href="~/css/Layout.css" rel="stylesheet" />
    <link href="~/css/Account.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img class="logo_reu" src="~/img/logoSVGwhiteWord.svg" alt="logo_REU" />
    </header>

    <main class="page-content">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>