<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeMonitoring.Web</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link href="~/css/Variables.css" rel="stylesheet" />
    <link href="~/css/Layout.css" rel="stylesheet" />
    <link href="~/css/Account.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img class="logo_reu" src="~/img/logoSVGwhiteWord.svg" alt="logo_REU" />
    </header>

    <main style="padding-top: 78px;">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>